// Font families
$ff-sans: "Arial", sans-serif !default;

// Colors
$clr-transparent: rgb(0 0 0 / 0%) !default;
$clr-accent: rgb(197 255 36) !default;
$clr-bgc-primary: #ffffff !default;
$clr-text-primary: #333333 !default;
$clr-text-primary-light: #f2f2f2 !default;
$clr-shadow-primary: rgb(0 0 0 / 15%) !default;
$clr-shadow-accent: rgb(197 255 36 / 20%) !default;

// Responsive
$max-width: 1280px !default;
