// Font families
$ff-sans: "Arial", sans-serif !default;

// Colors
$clr-transparent: rgb(0 0 0 / 0%);
$clr-bgc-primary: #ffffff !default;
$clr-text-primary: #333333 !default;

// Responsive
$max-width: 1280px !default;
